@import "config"


.root
  position: relative
  align-items: center

  margin-left: 30px

  &:hover
    .dropdownBtn
      padding-bottom: 1px

      border-bottom: none

      cursor: pointer


.dropdownBtn
  border-bottom: 1px dashed color(primary, contrast-text)

  font-weight: 600

  color: color(primary, contrast-text)


.dropdownRoot
  display: flex
  position: absolute
  top: 15px
  right: 0
  z-index: 1

  min-width: 150px

  animation: appearance 0.5s 1


+keyframes(appearance)
  0%
    transform: translate(0, -8px)
    opacity: 0
  100%
    opacity: 1


.dropdownContainer
  width: 100%
  margin-top: 5px
  padding: 8px 0

  border-radius: 3px

  background-color: color(background, paper)
  box-shadow: shadows(7)


.dropdownItem
  display: flex
  align-items: center

  padding: 10px 16px

  border-top: 1px solid color(grey, 300)

  font-size: 12px
  text-decoration: none
  transition: all 0.3s ease

  color: color(link, main)

  &:last-child
    border-bottom: 1px solid color(grey, 300)

  &:hover
    color: color(link, hovered)


.dropdownItem_icon
  display: flex

  margin-left: auto

  font-size: 10px !important