.slide-container {
    position: relative;
}

.react-slideshow-container+div.indicators {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 10;

    margin-right: -50%;
    transform: translate(-50%, 0)
}

.react-slideshow-container+div.indicators>.each-slideshow-indicator{
    opacity: 0;

    width: 14px;
    height: 14px;

    transition: opacity 300ms linear;
}

.react-slideshow-container:hover+div.indicators>.each-slideshow-indicator, .react-slideshow-container+div.indicators:hover>.each-slideshow-indicator{
    opacity: 85%;
}

.react-slideshow-container+div.indicators>.each-slideshow-indicator.active:hover {
    cursor: auto;
}

.react-slideshow-container .nav {
    border-radius: 0;
}