@import "src/sass/config"


.link
  display: flex

  text-decoration: none


.logo
  width: 40px
  height: 40px


.companyName
  margin-left: 8px
  font-size: 28px

  font-weight: 700
  font-style: italic

  color: color(primary, contrast-text)